:root {
  --primary: #20681a;
  --bg: #fdfcfa;
  --bg1: #e16127;
  --bg3: #f2f30c;
  --black: #212122;
}

* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.profil {
  width: 100vw;
  height: 30vh;
  background-color: rgb(17, 86, 53, 0.7);
}

.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.profil-overlay {
  position: absolute;
  width: 100%;
  height: 30vh;
}

.profil-overlay h1 {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-family: "Playfair Display";
  font-size: 4.5rem;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 10px;
  color: var(--primary);
  margin: 0 1rem 0 1rem;
}

.program_perpus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 3rem 0;
  gap: 2rem;
}

.program {
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67rem;
}

.program-2022-2023,
.program-2023-2024,
.program-2024-2025 {
  display: none;
}

.program-2022-2023.active,
.program-2023-2024.active,
.program-2024-2025.active {
  justify-content: space-between;
  gap: 20px;
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.slider {
  color: var(--primary);
}

.slider:hover {
  color: var(--bg1);
}

.slider-wrap {
  display: flex;
  align-items: center;
}

.slide {
  height: 2rem;
  width: 2rem;
}

.program_perpus select {
  margin-top: 1px;
  width: 15rem;
  background-color: var(--bg);
  color: var(--primary);
  outline: 1px var(--primary) solid;
  font-weight: 600;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
}

.box1 {
  min-width: 19.4rem;
  max-width: 19.5rem;
  text-align: justify;
  border: 3px var(--bg1) solid;
  border-radius: 20px;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  color: var(--black);
  font-size: 0.9rem;
}

.box1 h1 {
  font-family: "Playfair Display";
  font-size: 1.1rem;
  color: #3b6354;
  text-align: center;
}

.box1 .text-content p span {
  font-weight: 600;
  color: #3b6354;
  font-size: 1rem;
}

.text-wrap {
  width: 80%;
  height: 80%;
}

.text-wrap p {
  white-space: normal;
}

.text-title {
  margin-bottom: 30px;
}

.fasilitas-tempat-perpus {
  margin: 3rem 0 0 0;
  padding: 0.5rem 0 5rem 0;
  height: 95vh;
}

.fasilitas-tempat-perpus h2 {
  color: var(--black);
  font-family: "Playfair Display";
  text-align: center;
  font-size: 3.7rem;
  margin: 0 5px 3rem 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fasil {
  display: flex;
  justify-content: center;
}
.fasil-tempat1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 90rem;
}

.fasil-tempat1 img {
  width: 15rem;
  height: 15rem;
  margin: 0.3rem;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.8;
}

.fasil-tempat1 img:hover {
  opacity: 1;
}

.tata-tertib-alur-pinjam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem 0 2rem;
  height: 70vh;
  background-image: url(img/bg-kids.svg);
  margin-top: -20px;
}

.ttap {
  border: 1px var(--bg1) solid;
  border-radius: 20px;
  width: 20%;
  min-width: 20rem;
  height: 25rem;
  padding: 1rem;
  box-shadow: var(--bg1) 7px 2px;
  color: var(--black);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ttap h3 {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 2rem;
  margin-bottom: 1rem;
}

.ttap p {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.ttap-text {
  width: 20rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
    overflow-x: hidden;
  }

  .program-perpus {
    height: auto;
  }

  .profil-overlay h1 {
    font-size: 3rem;
  }

  .tahunprogram-button button {
    width: 10rem;
  }

  .program {
    width: 50rem;
  }

  .fasilitas-tempat-perpus h2 {
    font-size: 3rem;
  }

  .fasilitas-tempat-perpus {
    height: auto;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 100%;
    overflow-x: hidden;
  }

  .profil-overlay h1 {
    font-size: 2.5rem;
    padding: 0.2rem;
    text-align: center;
  }

  .profil-overlay {
    scrollbar-width: none;
  }

  .program-perpus {
    flex-direction: column;
    width: 25rem;
    justify-content: center;
  }

  .tahun-program {
    width: auto;
  }

  .program {
    width: 25rem;
  }

  .program-2022-2023,
  .program-2023-2024,
  .program-2024-2025 {
    width: 20rem;
  }

  .fasilitas-tempat-perpus h2 {
    font-size: 2rem;
  }

  .fasil-tempat1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .fasil-tempat1 img {
    height: 10rem;
    width: 10rem;
  }

  .tata-tertib-alur-pinjam {
    margin-bottom: 4rem;
    gap: 20px;
    height: auto;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 75%;
  }
}
