:root {
  --primary: #20681a;
  --bg: #fdfcfa;
  --bg1: #e16127;
  --bg3: #f2f30c;
  --black: #212122;
}

* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.profil {
  width: 100vw;
  height: 30vh;
  background-color: rgb(17, 86, 53, 0.7);
}

.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.profil-overlay {
  position: absolute;
  width: 100%;
  height: 30vh;
  background-color: rgb(17, 86, 53, 0.4);
}

.profil-overlay h1 {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-family: "Playfair Display";
  font-size: 4.5rem;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.beritautama-page {
  margin: 2rem;
  border: 2px pink solid;
  color: var(--black);
}

.beritautama {
  padding: 1rem;
  border: 2px blue solid;
}

.beritautama h1 {
  font-family: "Playfair Display";
  font-size: 2.5rem;
}

.beritautama img {
  max-width: 30rem;
  max-height: 30rem;
  border-radius: 20px;
}

.box1-beritautama {
  border: 2px yellowgreen solid;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
    overflow-x: hidden;
  }

  .profil-overlay h1 {
    font-size: 3rem;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 100%;
    overflow-x: hidden;
  }

  .profil-overlay h1 {
    font-size: 2.5rem;
    padding: 0.2rem;
    text-align: center;
  }
}

/* HP */
@media (max-width: 450px) {
  html {
    font-size: 75%;
    overflow-x: hidden;
  }
}
